MONGO_URL=mongodb+srv://seuusuario:suasenha@clusterseilaoqdomongo.mongodb.net/nomedobanco?retryWrites=true&w=majority
MONGO_URL_PROD=mongodb+srv://seuusuario:suasenha@clusterseilaoqdomongo.mongodb.net/nomedobanco?retryWrites=true&w=majority
NODE_ENV=production
JWT_SECRET=hdfshfhf8ds8fds8fds8f8
REDIS_PORT=40043
REDIS_URL=us1-active-EXAMPLE-40043.upstash.io
REDIS_PASSWORD=YOUR_PASSWORD
GOOGLE_MAPS_API_KEY=YOURGOOGLEMAPSKEY
//ownerId do cliente por enquanto está o id do user do owner (tabela user)
//bug, o userid do owner ta indo no profissional ao invés do id da tabela owner (em myOwnerId)
// na request ownerId é o id tabela user e o myOwnerId eh tabela owner
KAFKAJS_NO_PARTITIONER_WARNING=1
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_HOST=
KAFKA_CLIENT_ID=
WOOVI_KEY=
PAGARME_SECRET_KEY=
PAGARME_PUBLIC_KEY=
PUBLIC_STRIPE_KEY=
SECRECT_STRIPE_KEY=
# Do not expose your Neon credentials to the browser

PGHOST='ep-black-water-a5s6ziyz.us-east-2.aws.neon.tech'
PGDATABASE='neondb'
PGUSER='neondb_owner'
PGPASSWORD='nvi9XBpaRVQ0'
ENDPOINT_ID='ep-black-water-a5s6ziyz'
PGPORT=5432
FUSORARIOBR="production"
DATABASE="postgres"
UPLOAD_PROVIDER=cloudflare_r2

CLOUDFLARE_R2_ACCOUNT_ID=your_account_id
CLOUDFLARE_R2_ACCESS_KEY_ID=your_access_key_id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_secret_access_key
CLOUDFLARE_R2_BUCKET_NAME=your_bucket_name

S3_ACCESS_KEY_ID=your_s3_access_key_id
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key
S3_BUCKET_NAME=your_s3_bucket_name
S3_REGION=your_s3_region

GCS_PROJECT_ID=your_gcs_project_id
GCS_BUCKET_NAME=your_gcs_bucket_name
GCS_KEY_FILENAME=path_to_your_gcs_keyfile

AZURE_STORAGE_CONNECTION_STRING=your_azure_connection_string
AZURE_CONTAINER_NAME=your_azure_container_name
RESEND_API_KEY=
EMAIL_PROVIDER=
